# EDA on Amazon Bestsellers

In [198]:
# Libraries
import pandas as pd
import numpy as np
import altair as alt

## 1. Load and Clean Dataset

### Load dataset

In [199]:
df = pd.read_pickle('amazon_conlit_goodreads_nyt.pkl')
df.head(5)

,title,amazon_author,amazon_rating,amazon_num_reviews,amazon_price,amazon_year,amazon_genre,conlit_genre,conlit_pubdate,conlit_author_gender,...,goodreads_publish_date,goodreads_first_publish_date,goodreads_awards,goodreads_num_ratings,goodreads_likedPercent,goodreads_price,nyt_published_date,nyt_list_name_encoded,nyt_price,nyt_weeks_on_list
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011-01-01,Fiction,BS,2011-01-01,M,...,2011-11-08,NaT,"[Locus Award Nominee for Best SF Novel (2012),...",420225.0,96.0,6.21,2012-02-26,hardcover-fiction,35.00,14.0
1,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011-01-01,Fiction,BS,2011-01-01,M,...,2011-07-12,NaT,"[Hugo Award Nominee for Best Novel (2012), Loc...",555900.0,97.0,NaN,NaT,NaN,NaN,NaN
2,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017-01-01,Fiction,BS,2016-01-01,M,...,2019-03-26,2016-09-06,"[Kirkus Prize Nominee for Fiction (2016), Good...",293330.0,96.0,6.29,2019-12-29,trade-fiction-paperback,0.00,34.0
3,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011-01-01,Non Fiction,MEM,2011-01-01,F,...,2011-07-12,2011-07-11,[Goodreads Choice Award Nominee for Memoir & A...,96524.0,92.0,3.32,2011-10-02,hardcover-nonfiction,24.99,10.0
4,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014-01-01,Fiction,PW,2014-01-01,M,...,2014-05-06,2014-05-28,"[Pulitzer Prize for Fiction (2015), Audie Awar...",1024442.0,96.0,4.45,2016-04-10,hardcover-fiction,0.00,99.0

In [200]:
# Rows and Columns
df.shape

(366, 27)

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         366 non-null    object
 1   amazon_author                 366 non-null    object
 2   amazon_rating                 366 non-null    float64
 3   amazon_num_reviews            366 non-null    int64
 4   amazon_price                  366 non-null    int64
 5   amazon_year                   366 non-null    datetime64[ns]
 6   amazon_genre                  366 non-null    object
 7   conlit_genre                  111 non-null    object
 8   conlit_pubdate                111 non-null    datetime64[ns]
 9   conlit_author_gender          111 non-null    object
 10  conlit_author_nationality     65 non-null     object
 11  conlit_total_ratings          111 non-null    float64
 12  goodreads_rating              366 non-null    float64
 13  goodreads_series              131 non-null    object
 14  goodreads_genres              366 non-null    object
 15  goodreads_edition             100 non-null    object
 16  goodreads_publisher           359 non-null    object
 17  goodreads_publish_date        359 non-null    datetime64[ns]
 18  goodreads_first_publish_date  176 non-null    datetime64[ns]
 19  goodreads_awards              366 non-null    object
 20  goodreads_num_ratings         359 non-null    float64
 21  goodreads_likedPercent        359 non-null    float64
 22  goodreads_price               275 non-null    float64
 23  nyt_published_date            169 non-null    datetime64[ns]
 24  nyt_list_name_encoded         169 non-null    object
 25  nyt_price                     169 non-null    float64
 26  nyt_weeks_on_list             169 non-null    float64
dtypes: datetime64[ns](5), float64(8), int64(2), object(12)
memory usage: 77.3+ KB

In [202]:
df.columns

Index(['title', 'amazon_author', 'amazon_rating', 'amazon_num_reviews',
       'amazon_price', 'amazon_year', 'amazon_genre', 'conlit_genre',
       'conlit_pubdate', 'conlit_author_gender', 'conlit_author_nationality',
       'conlit_total_ratings', 'goodreads_rating', 'goodreads_series',
       'goodreads_genres', 'goodreads_edition', 'goodreads_publisher',
       'goodreads_publish_date', 'goodreads_first_publish_date',
       'goodreads_awards', 'goodreads_num_ratings', 'goodreads_likedPercent',
       'goodreads_price', 'nyt_published_date', 'nyt_list_name_encoded',
       'nyt_price', 'nyt_weeks_on_list'],
      dtype='object')

In [203]:
# Missing values
df.isnull().sum()

title                             0
amazon_author                     0
amazon_rating                     0
amazon_num_reviews                0
amazon_price                      0
amazon_year                       0
amazon_genre                      0
conlit_genre                    255
conlit_pubdate                  255
conlit_author_gender            255
conlit_author_nationality       301
conlit_total_ratings            255
goodreads_rating                  0
goodreads_series                235
goodreads_genres                  0
goodreads_edition               266
goodreads_publisher               7
goodreads_publish_date            7
goodreads_first_publish_date    190
goodreads_awards                  0
goodreads_num_ratings             7
goodreads_likedPercent            7
goodreads_price                  91
nyt_published_date              197
nyt_list_name_encoded           197
nyt_price                       197
nyt_weeks_on_list               197
dtype: int64

### Clean dataset

We decided to drop all `conlit_` columns, `goodreads_series`, and `goodreads_edition` since they have too many missing values compared to the number of rows of the original dataset. The resulting dataframe is named `data`.

In [204]:
# Columns were removed mannualy because I couldn't remove by name
data=df.drop(df.columns[7:12], axis=1)
data=data.drop(data.columns[8], axis=1)
data=data.drop(data.columns[9], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         366 non-null    object
 1   amazon_author                 366 non-null    object
 2   amazon_rating                 366 non-null    float64
 3   amazon_num_reviews            366 non-null    int64
 4   amazon_price                  366 non-null    int64
 5   amazon_year                   366 non-null    datetime64[ns]
 6   amazon_genre                  366 non-null    object
 7   goodreads_rating              366 non-null    float64
 8   goodreads_genres              366 non-null    object
 9   goodreads_publisher           359 non-null    object
 10  goodreads_publish_date        359 non-null    datetime64[ns]
 11  goodreads_first_publish_date  176 non-null    datetime64[ns]
 12  goodreads_awards              366 non-null    object
 13  goodreads_num_ratings         359 non-null    float64
 14  goodreads_likedPercent        359 non-null    float64
 15  goodreads_price               275 non-null    float64
 16  nyt_published_date            169 non-null    datetime64[ns]
 17  nyt_list_name_encoded         169 non-null    object
 18  nyt_price                     169 non-null    float64
 19  nyt_weeks_on_list             169 non-null    float64
dtypes: datetime64[ns](4), float64(7), int64(2), object(7)
memory usage: 57.3+ KB

We also wanted to get rid of any row with a missing value since we agree that missing values would affect our visualizations. However, if we just simply call `dropna()` like below, this results in a very small dataset that is not suitable for the project. We identified the problem being the `goodreads_first_publish_date` column and also removed this column. We will also remove all missing values from this dataset.

In [205]:
data.dropna().shape

(55, 20)

In [289]:
final=data.drop(data.columns[11], axis=1)
final=final_data.dropna()
final.head()

,title,amazon_author,amazon_rating,amazon_num_reviews,amazon_price,amazon_year,amazon_genre,goodreads_rating,goodreads_genres,goodreads_publisher,goodreads_publish_date,goodreads_awards,goodreads_num_ratings,goodreads_likedPercent,goodreads_price,nyt_published_date,nyt_list_name_encoded,nyt_price,nyt_weeks_on_list
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011-01-01,Fiction,4.31,"[Fiction, Historical Fiction, Science Fiction,...",Scribner,2011-11-08,"[Locus Award Nominee for Best SF Novel (2012),...",420225.0,96.0,6.21,2012-02-26,hardcover-fiction,35.00,14.0
2,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017-01-01,Fiction,4.34,"[Historical Fiction, Fiction, Russia, Historic...",Penguin Books,2019-03-26,"[Kirkus Prize Nominee for Fiction (2016), Good...",293330.0,96.0,6.29,2019-12-29,trade-fiction-paperback,0.00,34.0
3,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011-01-01,Non Fiction,3.91,"[Nonfiction, Memoir, True Crime, Biography, Au...",Simon Schuster,2011-07-12,[Goodreads Choice Award Nominee for Memoir & A...,96524.0,92.0,3.32,2011-10-02,hardcover-nonfiction,24.99,10.0
4,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014-01-01,Fiction,4.33,"[Historical Fiction, Fiction, Historical, War,...",Scribner,2014-05-06,"[Pulitzer Prize for Fiction (2015), Audie Awar...",1024442.0,96.0,4.45,2016-04-10,hardcover-fiction,0.00,99.0
5,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2015-01-01,Fiction,4.33,"[Historical Fiction, Fiction, Historical, War,...",Scribner,2014-05-06,"[Pulitzer Prize for Fiction (2015), Audie Awar...",1024442.0,96.0,4.45,2016-04-10,hardcover-fiction,0.00,99.0

### Characteristics of the cleaned dataset `final`

In [290]:
final.shape

(165, 19)

In [291]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 0 to 365
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   165 non-null    object
 1   amazon_author           165 non-null    object
 2   amazon_rating           165 non-null    float64
 3   amazon_num_reviews      165 non-null    int64
 4   amazon_price            165 non-null    int64
 5   amazon_year             165 non-null    datetime64[ns]
 6   amazon_genre            165 non-null    object
 7   goodreads_rating        165 non-null    float64
 8   goodreads_genres        165 non-null    object
 9   goodreads_publisher     165 non-null    object
 10  goodreads_publish_date  165 non-null    datetime64[ns]
 11  goodreads_awards        165 non-null    object
 12  goodreads_num_ratings   165 non-null    float64
 13  goodreads_likedPercent  165 non-null    float64
 14  goodreads_price         165 non-null    float64
 15  nyt_published_date      165 non-null    datetime64[ns]
 16  nyt_list_name_encoded   165 non-null    object
 17  nyt_price               165 non-null    float64
 18  nyt_weeks_on_list       165 non-null    float64
dtypes: datetime64[ns](3), float64(7), int64(2), object(7)
memory usage: 29.9+ KB

In [292]:
final.columns

Index(['title', 'amazon_author', 'amazon_rating', 'amazon_num_reviews',
       'amazon_price', 'amazon_year', 'amazon_genre', 'goodreads_rating',
       'goodreads_genres', 'goodreads_publisher', 'goodreads_publish_date',
       'goodreads_awards', 'goodreads_num_ratings', 'goodreads_likedPercent',
       'goodreads_price', 'nyt_published_date', 'nyt_list_name_encoded',
       'nyt_price', 'nyt_weeks_on_list'],
      dtype='object')

In [293]:
final=final.reset_index()

### Data Wranggling

We will split `goodreads_genres` into distinct genres. There are at most 10 genres.  
We will also encode `goodreads_awards` data as a new column containing the number of awards (`int64`) instead of a list of awards

In [294]:
col = ['gr_genre1', 'gr_genre2', 'gr_genre3', 'gr_genre4', 'gr_genre5', 
        'gr_genre6', 'gr_genre7', 'gr_genre8', 'gr_genre9', 'gr_genre10']
new = pd.DataFrame(final['goodreads_genres'].to_list(), columns=col)
new.head()

,gr_genre1,gr_genre2,gr_genre3,gr_genre4,gr_genre5,gr_genre6,gr_genre7,gr_genre8,gr_genre9,gr_genre10
0,Fiction,Historical Fiction,Science Fiction,Time Travel,Fantasy,Horror,Thriller,Audiobook,Historical,Mystery
1,Historical Fiction,Fiction,Russia,Historical,Audiobook,Book Club,Literary Fiction,Novels,Adult Fiction,Adult
2,Nonfiction,Memoir,True Crime,Biography,Autobiography,Crime,Biography Memoir,Abuse,Adult,Audiobook
3,Historical Fiction,Fiction,Historical,War,World War II,Adult,Audiobook,France,Book Club,Adult Fiction
4,Historical Fiction,Fiction,Historical,War,World War II,Adult,Audiobook,France,Book Club,Adult Fiction

In [295]:
for i in col:
    final[i] = new[i]
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   165 non-null    int64
 1   title                   165 non-null    object
 2   amazon_author           165 non-null    object
 3   amazon_rating           165 non-null    float64
 4   amazon_num_reviews      165 non-null    int64
 5   amazon_price            165 non-null    int64
 6   amazon_year             165 non-null    datetime64[ns]
 7   amazon_genre            165 non-null    object
 8   goodreads_rating        165 non-null    float64
 9   goodreads_genres        165 non-null    object
 10  goodreads_publisher     165 non-null    object
 11  goodreads_publish_date  165 non-null    datetime64[ns]
 12  goodreads_awards        165 non-null    object
 13  goodreads_num_ratings   165 non-null    float64
 14  goodreads_likedPercent  165 non-null    float64
 15  goodreads_price         165 non-null    float64
 16  nyt_published_date      165 non-null    datetime64[ns]
 17  nyt_list_name_encoded   165 non-null    object
 18  nyt_price               165 non-null    float64
 19  nyt_weeks_on_list       165 non-null    float64
 20  gr_genre1               165 non-null    object
 21  gr_genre2               165 non-null    object
 22  gr_genre3               165 non-null    object
 23  gr_genre4               165 non-null    object
 24  gr_genre5               165 non-null    object
 25  gr_genre6               165 non-null    object
 26  gr_genre7               165 non-null    object
 27  gr_genre8               165 non-null    object
 28  gr_genre9               164 non-null    object
 29  gr_genre10              164 non-null    object
dtypes: datetime64[ns](3), float64(7), int64(3), object(17)
memory usage: 38.8+ KB

In [296]:
num_awards = []
for i in final['goodreads_awards']:
    num_awards.append(len(i))
final['goodreads_num_awards']=num_awards

In [302]:
final.nyt_list_name_encoded

0            hardcover-fiction
1      trade-fiction-paperback
2         hardcover-nonfiction
3            hardcover-fiction
4            hardcover-fiction
                ...
160       hardcover-nonfiction
161    paperback-graphic-books
162                    science
163       hardcover-nonfiction
164               series-books
Name: nyt_list_name_encoded, Length: 165, dtype: object

## 2. Summary

In [299]:
final.agg(
    {
    "amazon_rating": ['min', 'max', 'mean', 'median', 'std'],
    "amazon_num_reviews": ['min', 'max', 'mean', 'median', 'std'],
    "amazon_price": ['min', 'max', 'mean', 'median', 'std'],
    "goodreads_rating": ['min', 'max', 'mean', 'median', 'std'],
    "goodreads_num_ratings": ['min', 'max', 'mean', 'median', 'std'],
    "goodreads_likedPercent": ['min', 'max', 'mean', 'median', 'std'],
    "goodreads_price": ['min', 'max', 'mean', 'median', 'std'],
    "nyt_price": ['min', 'max', 'mean', 'median', 'std'],
    "nyt_weeks_on_list": ['min', 'max', 'mean', 'median', 'std'],
    "goodreads_num_awards": ['min', 'max', 'mean', 'median', 'std'],
    }
)

,amazon_rating,amazon_num_reviews,amazon_price,goodreads_rating,goodreads_num_ratings,goodreads_likedPercent,goodreads_price,nyt_price,nyt_weeks_on_list,goodreads_num_awards
min,3.300000,548.000000,0.000000,3.280000,6.915000e+03,74.000000,0.850000,0.000000,0.000000,0.000000
max,4.900000,79446.000000,54.000000,4.730000,6.376780e+06,98.000000,86.870000,40.000000,561.000000,41.000000
mean,4.619394,13011.484848,13.848485,4.140303,5.337377e+05,93.187879,6.134545,8.098545,78.800000,3.715152
median,4.700000,9289.000000,13.000000,4.150000,2.005840e+05,94.000000,4.130000,0.000000,34.000000,2.000000
std,0.237850,12590.284147,7.684801,0.270227,1.002827e+06,4.070399,9.253618,12.255378,99.997817,6.311822

In [303]:
category = ["amazon_genre", "goodreads_publisher", "nyt_list_name_encoded", "gr_genre1", "gr_genre2", "gr_genre3"]
for i in category:
    print(pd.crosstab(index=final[i], columns='count'))
    print('\n')

col_0         count
amazon_genre
Fiction          77
Non Fiction      88


col_0                               count
goodreads_publisher
Ace Books                               1
Adams Media                             1
Alfred A. Knopf                         1
Algonquin Books                         1
Amistad                                 1
...                                   ...
Tom Doherty Associates TOR Fantasy      1
Vintage Books                           1
W. W. Norton Company                    2
William Morrow                          1
Zondervan                               2

[72 rows x 1 columns]


col_0                            count
nyt_list_name_encoded
advice-how-to-and-miscellaneous      9
business-books                       2
chapter-books                        5
culture                              1
graphic-books-and-manga              1
hardcover-advice                     6
hardcover-business-books             5
hardcover-fiction                   26
hardcover-nonfiction                29
hardcover-political-books            6
health                               1
paperback-advice                     3
paperback-books                      3
paperback-business-books             1
paperback-graphic-books              1
paperback-nonfiction                 5
picture-books                        5
relationships                        1
religion-spirituality-and-faith      9
science                              5
series-books                        29
trade-fiction-paperback              8
travel                               3
young-adult-hardcover                1


col_0               count
gr_genre1
Biography               5
Business                1
Christian              12
Cookbooks               3
Economics               1
Fantasy                16
Fiction                18
Graphic Novels          2
Historical Fiction      6
History                 6
Horror                  3
Humor                   9
Mystery                 2
Nonfiction             54
Picture Books           5
Poetry                  1
Romance                 1
Self Help               4
Young Adult            16


col_0               count
gr_genre2
Africa                  1
Business                4
Childrens               5
Christian               2
Classics                1
Comics                  1
Contemporary            3
Cooking                 2
Dystopia                8
Economics               1
Erotica                 1
Fantasy                 2
Feminism                1
Fiction                24
Food                    1
Historical Fiction      4
History                 6
Humor                   1
Inspirational           1
Medicine                1
Memoir                 10
Middle Grade            1
Military Fiction        1
Mystery                 8
Mythology               3
Nonfiction             31
Photography             4
Politics                2
Psychology              8
Science                 5
Self Help               6
Spirituality            2
Thriller                3
Vampires                1
Young Adult            10


col_0                 count
gr_genre3
Art                       3
Audiobook                 5
Biography                14
Business                  6
Childrens                 1
Christian Fiction         1
Christianity              3
Classics                  1
Comics                    1
Contemporary              2
Cooking                   1
Dragons                   1
Dystopia                  3
Economics                 1
Epic Fantasy              1
Faith                     8
Fantasy                   3
Feminism                  1
Fiction                  14
Food                      1
Graphic Novels            1
Historical                6
Historical Fiction        1
History                   7
Humor                     6
Leadership                1
Literary Fiction          2
Memoir                    3
Middle Grade              4
Mystery                   3
Mythology                 8
Nonfiction                2
Paranormal                1
Personal Development      4
Plays                     1
Politics                  3
Psychology                3
Race                      2
Realistic Fiction         1
Relationships             1
Religion                  6
Romance                   2
Russia                    1
Science                   3
Science Fiction           2
Self Help                 3
Thriller                  9
Travel                    1
True Crime                1
Vampires                  1
World War II              1
Young Adult               4

num of awards